
@media(max-width: 900px) {
    .banner {
        width: 45rem !important;
    }
}

@media(max-width: 735px) {
    .banner {
        width: 35rem !important;
    }

    footer {
        flex-direction: column !important;
        padding: 0.5rem !important;
        text-align: center !important;
    }

    header {
        justify-content: center !important;
    }

    #header-menu {
        display: none;
    }
}


@media(max-width: 570px) {
    .banner {
        width: 25rem !important;
    }

    .circle {
        width: 15rem !important;
    }

    .hover-scale-invert {
        font-size: 1rem !important;
    }
}


@media(max-width: 410px) {
    .banner {
        width: 20rem !important;
    }

    .circle {
        width: 15rem !important;
    }

    footer {
        font-size: .8rem;
    }
}

@media(max-width: 330px) {
    .banner {
        width: 16rem !important;
    }

    .circle {
        width: 13rem !important;
    }
}
