@page "/me/{Username}"

<style>
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
        gap: 1rem;
        text-align: center;
        flex-wrap: wrap;
    }

    .banner {
        width: 55rem;
        max-width: 55rem;
        margin-top: 6.5rem;
    }

    #app {
        display: block !important;
    }
</style>

@if (_noInformation)
{
    <span>NO INFO..</span>
}
else if (_isLoading == false)
{
    <PageTitle>@(_user?.Name ?? _user?.Username)</PageTitle>

    <PortfolioHeader Name="@(_user?.Name ?? _user?.Username)" />

    <div class="main">
        @foreach (ESection section in Enum.GetValues(typeof(ESection)))
        {
            var strategy = section.GetContentStrategy();
            @((MarkupString)strategy.CreateContent(_user!))
        }
    </div>

    <PortfolioFooter Name="@(_user?.Name)" />
}



@code {
    [Parameter]
    public string Username { get; set; } = string.Empty;

    [Parameter]
    public string MainColor { get; set; } = string.Empty;

    User? _user { get; set; }
    bool _isLoading = true;
    bool _noInformation = false;

    protected override async Task OnInitializedAsync()
    {
        _user = await SearchUserAsync();

        if (githubService.UserHasNoInformation(_user))
        {
            _noInformation = true;
            return;
        }

        _user.Repositories = await SearchUserReposAsync();
        _isLoading = false;
    }

    async Task<User> SearchUserAsync()
    {
        return await githubService.GetUserAsync(Username);        
    }

    async Task<List<Repository>> SearchUserReposAsync()
    {
        List<Repository> repos = new();
        const int limitItemsSearchGithubApi = 100;

        if (_user is null)
        {
            return repos;
        }

        int publicRepos = int.Parse(_user.PublicRepos);

        var pagesCount = publicRepos < limitItemsSearchGithubApi ? 1 : Math.Ceiling((decimal)publicRepos / limitItemsSearchGithubApi);

        for (int i = 0; i < pagesCount; i++)
        {
            int currentPage = i + 1;
            repos.AddRange(await githubService.GetUserRepositoriesAsync(Username, currentPage, publicRepos));
        }

        return repos;
    }
}