
<footer>
    <span>@($"© Copyright 2022, {Name}. All Rights Reserved.")</span>
    <span>Made with Github Portfolio</span>
</footer>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;
}
