header {
    background: #161B22;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-bottom: 0rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
}
